@charset "utf-8";
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.main  {
  background-color: #1E90FF;
  border-radius: 99px 99px 0 0;
  color: white;
  height: 100vw;
  margin: 0 auto;
}

.calendar {
  padding-top: 60px;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table__head__items {
  margin-bottom: 40px;
}

.table__head__item {
  font-weight: bold;
}

.monthNow {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.monthPrev i, .monthNext i {
  cursor: pointer;
  font-size: 30px;
}

.table__head__weeks {
  opacity: 0.7;
}

.table__head__week {
  font-weight: bold;
  font-size: 25px;
  padding: 70px 8px 8px;
}

.table__body__days {
  font-weight: bold;
  font-size: 25px;
}

.table__body__day {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.disabled {
  opacity: 0.3;
}

.js__today {
  background-color: white;
  border-radius: 999px;
  box-sizing: border-box;
  color: #1E90FF;
  padding: 23px 0;
  text-align: center;
}

.add {
  background-color: #1E90FF;
  margin: 0 auto;
  padding-top: 10px;
}

.addWrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
  text-align: right;
}

.add__menu {
  background-color:rgba(255,255,255,0.9);
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 520px;
  z-index: 2;
}

.add__nav {
  display: flex;
  justify-content: space-between;
}

.add__menu__close {
  background-color: transparent;
  border: none;
  color: #AAAAAA;
  cursor: pointer;
  font-size: 30px;
  margin-left: 10px;
  outline: none;
}

.add__menu__save {
  background-color: #1E90FF;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
  padding: 10px 30px;
}

.add__menu__input {
  background-color:rgba(255,255,255,0.9);
  border: none;
  border-bottom: 2px solid #CCCCCC;
  border-radius: 10px;
  display: block;
  font-size: 30px;
  height: 65px;
  margin: 20px auto 50px;
  outline: none;
  width: 400px;
}

.add__menu__input::placeholder {
  opacity: 0.4;
  padding-left: 10px;
}


.list {
  background-color: #1E90FF;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.list__container {
  margin: 0 auto;
  max-width: 530px;
}

.list__items {
  background-color: #1E90FF;
  margin: 0 auto;
  padding: 0  20px;
}

.list__item {
  align-items: center;
  border-bottom: 2px solid #DDDDDD;
  background-color: white;
  color: #003466;
  font-size: 25px;  
  height: 100px;
  margin: 0 auto;
}

.list__item:first-child {
  border-radius: 10px 10px 0 0;
}

.list__item:last-child {
  border-radius: 0 0 10px 10px;
  }

.list__itemWrapper {
  display: flex;
}

.list__item__date {
  background-color: rgb(224, 223, 223);
  border-radius: 0 0 0 10px;
  font-size: 40px;
  font-weight: 700;
  opacity: 0.8;
  padding: 30px;
}

.date {
  font-size: 25px;
  font-weight: bold;
}

.list__item__title {
  padding-top: 35px;
  padding-left: 10px;
}


