@charset "utf-8";
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

.month {
  background-color: #1E90FF;
  border-radius: 99px 99px 0 0;
  color: white;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.month__items {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.monthNow {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 0 50px;
}

.monthPrev i, .monthNext i {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 13px;
}

table {
  background-color: #1E90FF;
  color: white;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.tbody {
  max-width: 500px;
  width: 100%;
}

.tbody__weeks {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0.7;
  padding: 0 20px;
  width: 100%;
}

.tbody__week {
  font-weight: bold;
  margin: 10px;
  max-width: 60px;
  text-align: center;
  width: 100%;
}

.tbody__days {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.tbody__day {
  box-sizing: border-box;
  font-weight: bold;
  margin: 10px;
  max-width: 60px;
  padding: 16px 0 16px;
  text-align: center;
  width: 100%;
}

.js__today {
  background-color: white;
  border-radius: 999px;
  box-sizing: border-box;
  color: #1E90FF;
  display: inline-block;
  padding: 16px 0;
}

.add {
  background-color: #1E90FF;
  margin: 0 auto;
  max-width: 600px;
  text-align: right;
}

.add__buttonWrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.add__button {
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  color: #1E90FF;
  display: inline-block;
  font-size: 65px;
  outline: none;
  padding: 0 17px;
}

.add__button:hover {
  border-radius: 99px;
  display: inline-block;
  height: auto;
}

.list {
  background-color: #1E90FF;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.list__container {
  margin: 0 auto;
}

.list__items {
  background-color: #1E90FF;
  margin: 0 auto;
  max-width: 600px;
  padding: 0  20px;
}

.list__item {
  align-items: center;
  border-bottom: 2px solid #DDDDDD;
  background-color: white;
  font-size: 25px;  
  height: 100px;
  margin: 0 auto;
  padding: 40px 0 0 30px;
  
}

.list__item:first-child {
  border-radius: 10px 10px 0 0;
}

.list__item:last-child {
  border-radius: 0 0 10px 10px;
}


